[submodule "ET_Loan_Approval"]
	path = ET_Loan_Approval
	url = https://github.com/eliogrande/TheEndlessTuning_LoanApproval.git
[submodule "Loan_Approval"]
	path = Loan_Approval
	url = https://github.com/eliogrande/TheEndlessTuning_LoanApproval.git
[submodule "Pneumonia224"]
	path = Pneumonia224
	url = https://github.com/eliogrande/TheEndlessTuning_Pneumonia224.git
[submodule "Pneumonia1080"]
	path = Pneumonia1080
	url = https://github.com/eliogrande/TheEndlessTuning_Pneumonia1080.git
[submodule "WikiArt224"]
	path = WikiArt224
	url = https://github.com/eliogrande/TheEndlessTuning_WikiArt224.git
[submodule "WikiArt1080"]
	path = WikiArt1080
	url = https://github.com/eliogrande/TheEndlessTuning_WikiArt1080.git
